body {
    max-width: 1500px;
    /* background-image: linear-gradient(to right, red, blue); */
    
}
header {
    grid-column: 1/4;
    margin: 0 auto;
    background-color: #25292E;
    text-align: center;
    color: #F2F3F2;
    font-family: 'Cormorant Garamond', serif;
    
}
header h1 {
    margin-bottom: .2em;
    padding-top: 5px;
}
header h2 {
    margin-bottom: .8em;
    padding-bottom: 5px;
}
.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.left_column {
    grid-column: 1/2;
    margin: 10px;
    
}
.left_column a {
    margin-bottom: 10px;
}
.back {
    background-color: #F2F3F2;
    padding: 10px;
}
.link {
    grid-row: 1;
}
.middle_column {
    grid-column: 2/3;
    margin: 10px;
}
.right_column {
    grid-column: 3/4;
    margin: 10px;
}
main h2 {
    background-color: #ED5124;
    padding: 7px;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Cormorant Garamond', serif;
    /* color: white; */
    
}
h3 {
    text-decoration: underline black;
}
footer {
    text-align: center;
    background-color: #ED5124;
    padding: 5px;
}
p {
    font-family: 'Asap', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
}

img {
    max-width: 100%;
    display: block;
  }

/* @media only screen and (max-width: 900px){
    .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 500px 500px;
        width: auto;
    }
    .left_column{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .middle_column{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .right_column{
        grid-row: 2/3;
    }
} */

@media only screen and (max-width: 500px) {
        .grid_container {
        display:block;
        width:auto;
    }
    .grid_container {
        margin:0;
        width:auto;
    }
  }
